* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1c1c;
    height: 100dvh;
    overflow: hidden;
    width: 100vw;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 250px;
    position: relative;
    z-index: -1;
}
h1{
    display: flex;
    color: transparent;
    font-size: 100px;
    justify-content: center;
    margin-top: 4rem;
}

h1 span{
    animation: animate3 5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate3{
    0%{
        color: #fff;
        filter:hue-rotate(0deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 400px #00b3ff,
        0 0 800px #00b3ff;
    }
    30%,70%{
        color: #fff;
        filter:hue-rotate(360deg);
        text-shadow: 0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 40px #00b3ff,
        0 0 80px #00b3ff,
        0 0 120px #00b3ff,
        0 0 200px #00b3ff,
        0 0 400px #00b3ff,
        0 0 800px #00b3ff;
    }
    100%{
        color: transparent;
        box-shadow: none;
        filter: hue-rotate(0deg);
    }
}

.cube {
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);

    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg)
    }
}

.cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00b3ff);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    transform-style: preserve-3d;
    animation: color-change 4s linear infinite;
}

@keyframes color-change{
    0%{
        filter: hue-rotate(0deg);
    }
    30%,70%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}

.cube div span h2 {
    font-size: 100px;
    text-wrap: nowrap;
    transform: translateZ(80px);
}

.top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 250px;
    width: 250px;
    background: salmon;
    transform: translateZ(-300px);
}

.particles-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}

.particles-container .particles{
    position: relative;
    display: flex;
    z-index: 999;
}

.particles-container .particles span{
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0 4px;
    border-radius: 50%;
    background: #4fc3fc;
    filter: blur(4px);
    box-sizing: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3fc,
    0 0 100px #4fc3fc;
    animation: animate2 15s linear infinite;
    animation-duration: calc(150s/var(--i));

}

.particles span:nth-child(even){
    background: #0f0;
    box-sizing: 0 0 0 10px #4fc3dc44,
    0 0 50px #0f0,
    0 0 100px #0f0;
}

@keyframes animate2{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform:  translateY(-10vh) scale(1);
    }
}