@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i');


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: #f6f6f6;
    font-size: 1.6rem;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1{
    font-size: 60px;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
    text-shadow: 0 0 10px orange,
    0 0 12px salmon,
    0 0 2px blue,
    0 0 1px red;
    animation: animate 3s infinite;
}

span{
    /* color: orangered !important; */
}

@keyframes animate {
    0%{
        filter: hue-rotate(0deg);
        text-shadow: 0 0 0 orange,
    0 0 0px salmon,
    0 0 0px blue,
    0 0 0px red;
    }
    50%{
        filter: hue-rotate(180deg);
        text-shadow: 0 0 10px orange,
    0 0 12px salmon,
    0 0 2px blue,
    0 0 1px red;
    }
    100%{
        filter: hue-rotate(360deg);
        text-shadow: 0 0 0 orange,
    0 0 0px salmon,
    0 0 0px blue,
    0 0 0px red;
    }
}


.particles-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    overflow: hidden;
  }
  
  .particles-container .particles{
    position: relative;
    display: flex;
    z-index: 999;
  }
  
  .particles-container .particles span{
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0 4px;
    border-radius: 50%;
    background: #4fc3fc;
    filter: blur(4px);
    box-sizing: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3fc,
    0 0 100px #4fc3fc;
    animation: animate2 15s linear infinite;
    animation-duration: calc(150s/var(--i));
  
  }
  
  .particles span:nth-child(even){
    background: salmon;
    box-sizing: 0 0 0 10px salmon,
    0 0 50px salmon,
    0 0 100px salmon;
  }
  
  @keyframes animate2{
    0%{
        filter: hue-rotate(0deg);
        transform: translateY(100vh) scale(0);
    }
    100%{
        filter: hue-rotate(360deg);
        transform:  translateY(-10vh) scale(1);
    }
  }

  .particles span::before{
    content: '*';
    position: absolute;
    font-family: sans-serif;
    color: #fff;
    animation: rotate-particles 2.4s linear infinite;
    animation-delay: calc(var(--i) * -0.2s);
  }

  @keyframes rotate-particles{
    0%{
        scale: 1;
        opacity: 0;
        rotate: 0deg;
    }
    50%{
        scale: 1;
        opacity: 1;
        rotate: 180deg;
    }
    100%{
        scale: 1;
        opacity: 1;
        rotate: 360deg;
        filter: drop-shadow(-150px 0 #3cc2ff) 
        drop-shadow(150px 0 #3cc2ff)
        drop-shadow(0 150px #3cc2ff)
        drop-shadow(0 -150px #3cc2ff)
        drop-shadow(0 150px #3cc2ff);
    }

  }